<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="public/bulma.min.css">
  <title>Koffi</title>
</head>
<body>
  <header class="container has-text-centered py-4">
    <h1 class="title has-text-warning">Koffi Website</h1>
  </header>
</body>
</html>